#primary_nav_wrap {
  cursor: default;
}

#primary_nav_wrap ul
{
	list-style:none;
}

primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

//#primary_nav_wrap ul li:hover > ul
//{
//	display:block
//}
